@media screen and (max-width: 1920px) {
    .gn-trigger {
        display: none !important;
    }

    .menu-buttons {
    	display: initial !important;
    }
}

@media screen and (max-width: 960px) {
    .gn-trigger {
        display: initial !important;
    }

    .menu-buttons {
    	display: none !important;
    }
}