@media (min-width: 0px){
	.gn-trigger {
		display: initial !important;
	}
	.menu-hide {
		display: none !important;
	}
}

@media (min-width: 1024px) {
	.gn-trigger {
		display: none !important;
	}
	.menu-hide {
		display: initial !important;
	}
}


