
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>i2india demo site</title>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
  </head>


  <body>

	<!-- Menu
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">LINK</a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a href="index.html">Home</a>
			<a href="services.html">Services</a>
			<a href="portfolio.html">Portfolio</a>
			<a href="about.html">About</a>
			<a href="#contact">Contact</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		Menu button
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav> -->


	
	<!-- MAIN IMAGE SECTION -->
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Our mission is to fill the gap of product innovation in India.
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->

	<!-- CHART IMAGE SECTION -->
    <div id="chartwrap">
	    <div class="container">
	      <div class="row mt">

			  
			  <div class="col-lg-1"></div>
			  <div class="col-lg-10">
			  	<h1>About i2india</h1>
			  	<p>i2india was created on foundational investments by Imperial Innovations Plc UK (The Technology Transfer arm of Imperial College, London), CMG Partners UK and various leading Indian industry leaders and experts such as Tata Sons. Imperial Innovations UK is a $500 Million company that has commercialized more than 100 technologies over the past 20+ years. </p> 
			  	<p>i2india combines the activities of market research, company incubation, investment and intensive mentoring. The company is led by a team of Entrepreneurial Managers who have hands-on experience in product startups and who roll-up their sleeves to get involved.</p>
			  </div><!-- col-lg-4 -->
	      </div><!-- /row -->
	    </div><!-- /.container -->
    </div><!-- chartwrap -->

    <div id="models">
    	<div class="container">
    		<div class="row mt">
    			<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<!-- <br><br><br><br><br><br><br>hello world <br><br><br><br><br><br><br> -->
					<div class="centered">
						<h3>The Conventional Approach</h3>
					<img src="assets/img/i2india/Model_1.png" alt="" height="175px">

					</div>
					<br><br>
					<hr>
					<br><br>
					<div class="centered">
					<h3>The i2india Approach</h3>	
					<img src="assets/img/i2india/i2india model.png" alt="" height="175px">
					</div>

					<br><br>

					<p class="lead">I2india has evolved two unique models for filling in local eco-system gaps:</p>
					

					<h4>Go-To-Market Strategy: B2B2C Model</h4>

					<p>This model addresses the biggest challenge of marketing costs/effort faced by product startups. I2india leverages its extensive personal and corporate network to develop intimate links between its incubatee companies and partner Brands or Businesses. The business plan is developed right from its initial stages, with such synergies in mind. The model guarantees a big-splash market entry with modest costs.</p>
					
					<br><br>

					<div class="col-lg-12" style="padding-bottom:40px">
						<div class="col-lg-6" style="border-right=1px;">
							<h5 class="centered">Conventional Mentoring</h5>
							<ul>
								<li>Meet 1-2 times/month</li>
								<li>Has mentor created a product startup?</li>
								<li>Altruistic approach vs. “Skin-in-the-game” approach</li>
								<li>What does mentor lose/gain</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<h5 class="centered">I2india’s Co-Promotion Mentoring</h5>
							<ul>
								<li>Daily, on-site, in-depth</li>
								<li>Mentors are running product startups</li>
								<li>Mentors co-invest </li>
								<li>Mentors win only if startup does</li>
							</ul>
						</div>
					</div>
					
					<br><br><br>

					<div class="col-lg-12">
						<h4>Intensive Mentoring: Co-Promotion Model</h4>

						<p>First generation entrepreneurs need more and experiential advice than high-level “gyan”. Unlike most mentors who have limited startup experience themselves, i2india mentors bring personal hands-on experience and near full-time involvement. We think of ourselves as Co-Promoters and our success is 100% dependent on that of our incubatees.</p>
					</div>

				</div>

    		</div>
    	</div>
    </div>
<!-- 
	SERVICES SECTION
	<div id="services">
		<div class="container">
			<div class="row mt">
				Srvice 1
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Quality Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 2
				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Awesome Support</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 3
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
				
				Srvice 4
				<div class="col-lg-1 centered">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="col-lg-3">
					<h3>Responsive Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 5
				<div class="col-lg-1 centered">
					<i class="fa fa-cog"></i>
				</div>
				<div class="col-lg-3">
					<h3>Easy Configuration</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
				Srvice 6
				<div class="col-lg-1 centered">
					<i class="fa fa-heart"></i>
				</div>
				<div class="col-lg-3">
					<h3>Crafted With Love</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

			</div>row
		</div>container
	</div>services section
	
	
	TEAM INTRODUCTION
	<div class="container" style="padding-top:50px;">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-1">
				<h1>Professional Team</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>row
		<div class="row">
			<div class="col-lg-7  col-lg-offset-1">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
			</div>
			<div class="col-lg-3  col-lg-offset-1">
				<p><b>CORPORATE BRIEF</b></p>
				<p class="tm">Download the last information about our agency, our notable works, our team members, next projects & more.</p>
				<p class="tm"><a href="#"><i class="fa fa-link"></i> <b>Download PDF</b></a></p>	
			</div>
		</div>
		
	</div>container
	
	TEAM MEMBERS
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-12" style="margin-right:25px;margin-left:25px;">
					
				<div class="col-lg-4">
					<img src="assets/img/team/gianni.png" alt="Gianni">
					<div class="cardinfo">
						<h4><b>GIANNI DI MARCO</b></h4>
						<h6>ART DIRECTOR</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
						<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
					</div>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/team/rebecca.png" alt="Rebecca">
					<div class="cardinfo">
						<h4><b>REBECCA ZEARING</b></h4>
						<h6>DESIGN DIRECTOR</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
						<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
					</div>
				</div>
				<div class="col-lg-4">
					<img src="assets/img/team/william.png" alt="Gianni">
					<div class="cardinfo">
						<h4><b>WILLIAM SMITH</b></h4>
						<h6>TEAM MANAGER</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
						<p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
					</div>
				</div>
			</div>
		</div>row
	</div>container
	
	
	 -->
	
	<!-- CALL TO ACTION
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>THIS IS A CALL TO ACTION AREA</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
				</div>
			</div>row
		</div>container
	</div>Call to action
	 -->

  </body>
