<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>i2india demo site</title>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
  </head>

    <body>

	<!-- MAIN IMAGE SECTION -->
	<div id="portwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<h2>Our in-house and incubatee teams work on some of the most challenging problems</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /portrwrap -->

	<div class="bla-bla">
		<div class="row">
			<br><br><br>
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<h2>Careers</h2>
				<hr>
				<p>Want to work on a challenging problem that will benefit millions of people? Look out for job openings at i2india and our incubatees here.</p>

				<!-- PORTFOLIO SECTION -->
			    <div id="portfolio">
			    	<div class="container"
				    	<div class="row mt">
							<div ng-repeat="job in jobs">
								
								<p><h4>Title: </h4>{{job.title}}</p>
								<p><h4>Skills: </h4>{{job.skills}}</p>
								<hr>
							</div>
				    	</div><!-- row -->
				    </div><!-- container -->
			    </div><!-- portfolio -->
			</div>
		</div>
	</div>
	
	
	
	

	<!-- 
	CALL TO ACTION
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>THIS IS A CALL TO ACTION AREA</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
				</div>
			</div>row
		</div>container
	</div>Call to action -->
	

	
</body>