
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>i2india demo site</title>


    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="assets/js/modernizr.custom.js"></script>
    
  </head>

  <body>
	
	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="bla-bla">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Building World-Class, Product startups from India 
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /bla-bla -->
	</div><!-- /headerwrap -->

	<!-- PROCESS SECTION -->
	
	<div class="bla-bla">
		<div class="row">
			<br><br><br>
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<h2>Incubation Model</h2>
				<hr>
				<p>I2india only takes on projects where it can add significant value in addition to investments. All entrepreneurs are subject to an intensive selection process. Selected entrepreneurs/teams are offered physical and managerial incubation support, in addition to financial investments. I2india takes an investment position in return for such support.</p>

				<p>Our typical investments are in the range of <b>Rs 15-25 lakhs</b> at the seed stage, with effort from our team that will be worth several times the financial capital. We also assist in syndicating the Series A round of funding, with other investors. In return, we typically take <b>12% equity</b> in the incubatees in the seed stage, with an aim to increase our holding over subsequent rounds of funding. Since i2india wins only if the entrepreneur does, we follow a very stringent and Darwinian process for supporting promising companies. Entrepreneurs interested only in financial support are strongly encouraged NOT to apply.</p>

				<p>i2india, through its non-profit subsidiary, Technovate – runs a physical incubator in the heart of Bangalore. This center is equipped with all infrastructural and business services required to provide a plug-n-play environment for startups. Technovate’s unique business model has been officially recognized by the Government of India and is an approved Technology Business Incubator.</p>
			</div>
		</div>
	</div>

    
	<div class="container">
		
		<div class="row mt">
			<div class="col-lg-1"></div>

			<div class="col-lg-11">
				<h1>Our Incubatees</h1>

				<div class="col-lg-12">
					<div class="col-lg-6">
						<h3><b>GPS</b></h3>
						<p>Founded in late 2010, Green Power Systems (GPS) is a cleantech company based in Bangalore. GPS’ inaugural product, the BioUrja, is arguably the first viable biowaste-to-energy solution for urban establishments.</p>
						<br>
					</div>	
					<div class="col-lg-1"></div>
					<div class="col-lg-4">
						<a href="http://www.greenpowersystems.co.in/"><img src="assets/img/i2india/gps.jpg" width="300px" alt="" style="padding-bottom:100px"></a>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<h3><b>i2Play</b></h3>
						<p>I2Play interactive is an incubatee company of Technovate, an incubator supported by DST, Government of India and i2india Ventures. It’s in the business of designing, developing, marketing and distribution of multimedia and computer content for the purpose of entertainment, learning and Education</p>
						<br>
					</div>	
					<div class="col-lg-1"></div>
					<div class="col-lg-4">
						<a href="http://www.spicetoons.com/"><img src="assets/img/i2india/i2play.png" width="300px" alt="" style="padding-bottom:100px"></a>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<h3><b> Tsepak Technologies <br>(formerly Transitainment Ventures)</b></h3>
						<p>Tsepak Technologies is a company founded by IIMB alumni and Industry veterans, based out of Bangalore. Owing to the expertise of the team in Technology, Design & Business development, specifically in the bus industry, Tsepak has been able to build innovation to the sector. </p>
						<br>
					</div>	
					<div class="col-lg-1"></div>
					<div class="col-lg-4">
						<a href="http://about.tsepak.com/"><img src="assets/img/i2india/tsepak.png" width="300px" alt="" style="padding-bottom:100px"></a>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<h3><b>i2Buy</b></h3>
						<p>Founded in late 2010, Green Power Systems (GPS) is a cleantech company based in Bangalore. GPS’ inaugural product, the BioUrja, is arguably the first viable biowaste-to-energy solution for urban establishments.</p>
						<br>
					</div>	
					<div class="col-lg-1"></div>
					<div class="col-lg-4">
						<img src="assets/img/i2india/Logo.png" width="300px" alt="" style="margin-top:-40px;">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<h3><b>i2iHealth</b></h3>
						<p>Founded in late 2010, Green Power Systems (GPS) is a cleantech company based in Bangalore. GPS’ inaugural product, the BioUrja, is arguably the first viable biowaste-to-energy solution for urban establishments.</p>
						<br>
					</div>	
					<div class="col-lg-1"></div>
					<div class="col-lg-4">
						<img src="assets/img/i2india/i2ihealth.png" width="300px" alt="">
					</div>
				</div>
			</div>
<!-- 
	SERVICES SECTION
	<div id="services">
		<div class="">
			<div class="row mt">
				Srvice 1
				<div class="col-lg-1 centered">
					<i class="fa fa-certificate"></i>
				</div>
				<div class="col-lg-3">
					<h3>Quality Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 2
				<div class="col-lg-1 centered">
					<i class="fa fa-question-circle"></i>
				</div>
				<div class="col-lg-3">
					<h3>Awesome Support</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 3
				<div class="col-lg-1 centered">
					<i class="fa fa-globe"></i>
				</div>
				<div class="col-lg-3">
					<h3>Global Services</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
				
				Srvice 4
				<div class="col-lg-1 centered">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="col-lg-3">
					<h3>Responsive Design</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

				Srvice 5
				<div class="col-lg-1 centered">
					<i class="fa fa-cog"></i>
				</div>
				<div class="col-lg-3">
					<h3>Easy Configuration</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>
			
				Srvice 6
				<div class="col-lg-1 centered">
					<i class="fa fa-heart"></i>
				</div>
				<div class="col-lg-3">
					<h3>Crafted With Love</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				</div>

			</div>row
		</div>bla-bla
	</div>services section
	
	
	 -->
	<!-- 
	CLIENTS LOGOS
	<div id="lg">
		<div class="">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
					<img src="assets/img/clients/c01.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c02.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c03.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c04.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/img/clients/c05.gif" alt="">
				</div>
			</div>row
		</div>bla-bla
	</div>dg
	
	
	CALL TO ACTION
	<div id="call">
		<div class="">
			<div class="row">
				<h3>THIS IS A CALL TO ACTION AREA</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
				</div>
			</div>row
		</div>bla-bla
	</div>Call to action
	 -->

	
  </body>